.fondologin{
    -fx-background-color: seashell;
}

.fondoRegister{
    -fx-background-color: seashell;
}

.fondoMenu{
    -fx-background-color: burlywood;
}

.boton{
    -fx-background-color: burlywood;
    -fx-background-radius: 35;
}

.boton:hover{
    -fx-background-color: black;
    -fx-opacity: 70%;
}


.fondoGeneral{
    -fx-background-color: seashell;
}


